.table-content{
    margin-left: 170px;
    margin-right: 170px;
    margin-top: 90px;
  width: 75%
}


.options{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 200px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.name{
  cursor: pointer;
}

button {
  background-color: #007bff; /* Azul primario */
  color: #fff; /* Texto blanco */
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px; /* Espaciado interno */
  border: none; /* Sin bordes */
  border-radius: 8px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor al pasar por encima */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra ligera */
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease; /* Transiciones suaves */
}

button:hover {
  background-color: #0056b3; /* Azul más oscuro en hover */
  transform: translateY(-2px); /* Eleva el botón ligeramente */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Incrementa la sombra */
}
