<h2>Mi Pokebola</h2>
<div class="container">
<table mat-table [dataSource]="favorites" class="mat-elevation-z8">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element">
        <a class="name" (click)="navigateToDetails(element.name)">{{ element.name | pokemonNameTransform}}</a> <!-- Llama a la función de navegación -->
        </td>
  </ng-container>

  <ng-container matColumnDef="url">
    <th mat-header-cell *matHeaderCellDef> URL </th>
    <td mat-cell *matCellDef="let element"> {{element.url}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="['name', 'url']"></tr>
  <tr mat-row *matRowDef="let row; columns: ['name', 'url'];"></tr>
</table>
</div>
